<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="de.tum.in.cordova"
    version="0.2.11">
    <name>MqttPlugin</name>
    <description>The coolest Plugin ever implemented</description>
    <license>Apache 2.0</license>
    <keywords>cordova,coolest</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/MqttPlugin.js" name="MqttPlugin">
        <clobbers target="MqttPlugin" />
    </js-module>
    <!-- android -->
    <platform name="android">
	<config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_LOGS" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MqttPlugin" >
                <param name="android-package" value="MqttPlugin"/>
            </feature>
        </config-file>
		
		
   
	<source-file src="src/android/MqttPlugin.java" target-dir="src" />
    <source-file src="src/android/GZipUtil.java" target-dir="src" />
    <source-file src="src/android/KuraPayload.java" target-dir="src" />
    <source-file src="src/android/KuraPayloadDecoder.java" target-dir="src" />
    <source-file src="src/android/KuraPayloadEncoder.java" target-dir="src" />
    <source-file src="src/android/KuraPayloadProto.java" target-dir="src" />
    <source-file src="src/android/KuraPosition.java" target-dir="src" />
    <source-file src="src/android/MessageListener.java" target-dir="src" />
    <source-file src="src/android/MQTTClientDemo.java" target-dir="src" />
    <source-file src="src/android/IKuraMQTTClient.java" target-dir="src" />
	<source-file src="src/android/KuraMQTTClient.java" target-dir="src" />

    </platform>
</plugin>