/* CSS settings for wifi.html
 */

#btn_settings{
	float: right;
}

#wifi_start{
	text-align : center;
	position:absolute;
	top:10%;
	left:10%;
	margin-left:auto;
	margin-right:auto;
	width:30%;
}

#wifi_stop{
	text-align : center;
	position:absolute;
	top:10%;
	left:60%;
	margin-left:auto;
	margin-right:auto;
	width : 30%;
}